@charset "UTF-8";
.upload-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: white;
  height: 36px;
}

#file-name {
  color: #999;
  margin-right: 10px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
}