@charset "UTF-8";

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffcc;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#popup h2, #popup h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
    color: #333;
}

#popup form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#popup form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    color: #555;
    gap: 5px;
    white-space: nowrap; /* ラベルが折り返されないように */
}

#popup form input,
#popup form select {
    flex: none;
    width: 150px; /* 入力フィールドの幅を統一 */
    padding: 4px 6px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#popup form input:focus,
#popup form select:focus {
    border-color: #007bff;
    outline: none;
}

#popup form span {
    font-size: 0.7em;
    color: gray;
    margin-left: 5px;
}

#popup form .target-label {
    flex: none;
    width: 230px; /* 目標値のラベルの幅を広く */
    text-align: right; /* ラベルを右寄せ */
}

#popup button {
    width: 100%;
    padding: 6px;
    font-size: 0.8em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#popup button:hover {
    background-color: #0056b3;
}

#popup form .target-label {
    display: flex;
    justify-content: space-between; /* 子要素を均等に配置 */
    align-items: center; /* 垂直方向を中央揃え */
    gap: 10px; /* ラベルとセレクトボックスの間隔 */
    font-size: 0.8em;
    color: #555;
    width: 100%; /* ラベルとセレクトボックスの配置用 */
}

#popup form .target-label select {
    margin-left: auto; /* セレクトボックスを右寄せ */
    flex: none; /* 幅を固定 */
    width: 150px; /* 必要に応じて幅を調整 */
    text-align: left; /* テキストを左寄せ */
    padding: 4px 6px; /* 内側の余白 */
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


