@charset "UTF-8";
/*ケンコークラフトを真ん中に*/
.logo-img {
  height: 100px;
  width: auto; /* 高さに応じて横幅を自動調整 */
  max-width: 100%; /* 親要素より大きくならないように */
  display: block;
  margin: 0 auto;
}


/*後ろの色  */
body {
 text-align: center;
 background-color: #f0fce9;
	
	}
	/* 全体を中央ぞろえ */
	.header-nav {
  background-color: #56a773;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
  margin-top: 0;
  align-self: stretch;
  width: 100%; 
}
/* ログインボタンを左に */
.regist-title {
  text-align: left;
  margin-left: 20px;
}